@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

html, body {
	margin: 0;
	padding: 0;
	height:100%;
	width: 100%;
}


h2 {
	font-family: 'Playfair Display',serif;
	font-size: 200%;
	font-weight: 700;
	color: #2C2C2C;
	text-align: center;

}

p{
	font-family: 'Raleway',serif;
	color: #2C2C2C;
	font-size: 140%;
	line-height: 180%;
	text-align: justify;
	font-weight: 300;
}

img{
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url("main.jpg");
	background-size: cover;
	display: table;
	top: 0;
}
.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;

}
.content{
	max-width: 600px;
	margin: auto;
}

h1{
	font-family: 'Playfair Display',serif;
	font-size: 300%;
	font-weight: 700;
	color: #FFF;
	text-align: center;
	text-shadow: 0px 0px 250px #000;
	text-decoration: underline;
}

.content p{
	color: #FFF;
	text-align: center;
}

.inner{
	max-width: 600px;
	margin: auto;
	font-size: 170%;
	line-height: 1.6;
	padding: 10px;
}

/*----NAVIGATION---*/

nav{
	float: left;
	padding: 5% 5% 0 0;
	height: 50px;
}
nav ul{
	list-style: none;
	float: left;

}
nav ul li{
	font-family: 'Raleway',serif;
	font-size: 120%;
}
nav ul li a{
	color: #FFF;
	text-decoration: none;
}
nav ul li a:hover{
	text-decoration: underline;
}
nav ul, nav:active ul{
	padding: 8px 0;
	width: 20%;
	z-index: 1000;
	display: none;
	left: 45px;
	top: 60px;
}

nav li{
	width: 100%;
	padding: 8px 0 10px 7px;
	margin: 0;
}
nav:hover ul{
	display: block;
	position: absolute;
}
#menu-icon{
	width: 30px;
	height: 26px;
	background: url("nav-icon.png") center;
	display: inline-block;
	margin: 50px 0 0 50px;
}
/*--NAVIGATION ended---*/

.left-col{
	width: 65%;
	float: left;
	margin: 4% 0 4% 4%;
}
.sidebar{
	width: 20%;
	float: right;
	margin: 5%;
}
.one-third-col{
	width: 29.33333%;
	padding: 2%;
	float: right;
}
.one-third-col img:hover{
	opacity: .6;
}
.cont p{
	text-align: center;
	letter-spacing: 5px;

}
.cont a{
	color: #2C2C2C;
	text-decoration: none;
}


.clearfix{
	clear: both;
	height: 3%;

}
.break{
	display: none;
}

.parallax{
	background: url("main.jpg") repeat fixed 100%;
	opacity: .5;
	max-width: 100%;
	height: auto;
	width: auto;
}

.parallax-inner{
	padding-top: 17%;
}
  


.social {
	list-style-type: none;
	text-align: center;
  background-color: #2C2C2C;

}
.social li{
	display: inline;

}
.social i{
	font-size: 220%;
	margin: 1% 5% 1% 5%;
	color: #FFF;

}

.social i:hover{
	color: #606060;
}

footer.second {
        background-color: #FFF;
}

footer.second p{
	color: #2C2C2C;
	font-weight: bolder;
	text-align: center;
	margin: 1%;
		letter-spacing: 5px;

}







	

	
@media screen and (max-width: 768px) {
	#menu-icon{
		margin: 26px 0 0 26px;
	}
	nav il, nav:active ul{
		padding: 8px 0;
		left: 23px;
		top: 34px;
	  width: 50%;
  }
	.inner {
		font-size: 120%;
	}
	.content h1{
		font-size: 180%;
	}
	p{
		font-size: 120%;
	}
	h2{
		font-size: 160%;
	}
	.left-col{
		width: 96%;
		padding: 0 2%;
		margin: 0 0 3% 0;
	}
	.sidebar{
		width: 96%;
		margin: 0 auto;
	}
	img{
		padding: 2%;
	}
	.one-third-col{
		width: 96%;
		margin: 0 auto;
		padding: 0;
	}
	.break{
		display: block;
	}
	.parallax{
		display: none;
	}
	.social i {
		font-size: 170%;

	}

}

